@use "../variables" as *;
@use "../mixins" as *;

.about-section {
    padding: 140px 0 0 0;

    .about {
        margin: 0 auto;
        @include d-flex(start, center, nowrap, column, 0, 130px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 0 0 15px;
            background: url("../assets/webp/desktop.webp") 100% 100% / contain no-repeat;

            &-title {
                @include f-style(45px, 400, $color_wight);
            }

            &-desc {
                max-width: 590px;
                margin-top: 10px;
                @include f-style(20px, 300, $color_wight);
            }

            @media (max-width: $media_xl) {
                background:
                    linear-gradient(180deg, rgba(103, 143, 242, 1) 0%, rgba(103, 143, 242, 0) 74%),
                    url("../assets/webp/desktop.webp") 100% 45% / 500px no-repeat;
            }

            @media (max-width: $media_md) {
                background: url("../assets/webp/desktop.webp") 99% 100% / 450px no-repeat;

                &-title {
                    font-size: 35px;
                }

                &-desc {
                    font-size: 16px;
                    max-width: 500px;
                }
            }

            @media (max-width: $media_sm) {
                background: url("../assets/webp/desktop.webp") 150px 100% / 400px no-repeat;

                &-desc {
                    max-width: 320px;
                }
            }
        }

        &__touch {
            position: relative;
            width: 100%;
            height: 500px;
            padding: 0 15px 0 0;

            @include d-flex(end, end, nowrap, column, 0, 20px);
            // overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                rotate: z 15deg;

                background: url(../assets/webp/phone.webp) 0 0 / contain no-repeat;
                @include position(absolute, -1, -1, top, left, 0, -380px);
            }

            &-title {
                @include f-style(45px, 400, $color_wight);
            }

            &-desc {
                max-width: 480px;
                text-align: right;
                line-height: 1.4;
                @include f-style(20px, 300, $color_wight);
            }

            @media (max-width: $media_xl) {
                &::before {
                    top: -35px;
                    left: -460px;
                }
            }

            @media (max-width: $media_lg) {
                height: 450px;

                &::before {
                    top: -50px;
                    left: -460px;
                }
            }

            @media (max-width: $media_md) {
                height: 400px;
                justify-content: start;

                &-title {
                    font-size: 35px;
                }

                &-desc {
                    font-size: 16px;
                    max-width: 340px;
                }

                &::before {
                    top: 0;
                    left: -280px;
                    background: url(../assets/webp/phone.webp) 0 0 / 90% no-repeat;
                    rotate: z 65deg;
                }
            }

            @media (max-width: $media_sm) {
                &::before {
                    top: 20px;
                    left: -200px;
                    background: url(../assets/webp/phone.webp) -170px 0 / 125% no-repeat;
                }
            }

            @media (max-width: $media_min) {
                height: 350px;

                &::before {
                    top: 60px;
                    left: -180px;
                }
            }
        }

        &__approach {
            width: 100%;
            height: 800px;
            padding: 0 0 0 15px;

            background: url(../assets/webp/cactus.webp) 100% 100% / contain no-repeat;

            &-title {
                @include f-style(45px, 400, $color_wight);
                margin-top: 200px;
            }

            &-desc {
                max-width: 730px;
                margin-top: 10px;
                @include f-style(20px, 300, $color_wight);
            }

            @media (max-width: $media_lg) {
                &-title {
                    margin-top: 370px;
                }

                &-desc {
                    max-width: 500px;
                }

                background: url(../assets/webp/cactus.webp) 99% 100% / 380px no-repeat;
            }

            @media (max-width: $media_md) {
                height: 700px;

                &-title {
                    margin-top: 100px;
                    font-size: 35px;
                }

                &-desc {
                    padding: 0 15px 0 0;
                    font-size: 16px;
                }

                background: url(../assets/webp/cactus.webp) 99% 100% / 320px no-repeat;
            }

            @media (max-width: $media_sm) {
                height: 550px;
                margin: 0;

                background: url(../assets/webp/cactus.webp) 100% 100% / 220px no-repeat;
            }
        }
    }
}
