html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

hr {
    width: 100%;
}